/* ======================================================================================================== */
/* ================================================ 共通設定 =============================================== */
/* ======================================================================================================== */
.mincho {
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}
.jpTitle {
	font-family: "FOT-筑紫B丸ゴシック Std B";
}
.engTitle {
	font-family: 'Sacramento', cursive;
}
.numTitle {
	font-family: 'IBM Plex Sans', sans-serif;
	/*font-family: 'HelveticaNeue';*/
}

.relative { position: relative; } .absolute { position: absolute; }
.inline { display: inline; } .inline_block { display:inline-block; } .block { display:block; }

.text-left { text-align: left; } .text-right { text-align: right; } .text-center { text-align: center; } .text-justify { text-align: justify; text-justify: inter-ideograph; }
@media screen and (max-width: 767px) {
/*.text-center { text-align: left; }*/
	.text-left-xs { text-align: left; }
.text-center-xs { text-align: center; }
}

@media screen and (max-width: 1199px) {
.container { max-width: 980px; padding-left: 15px; padding-right: 15px;
}
}
@media screen and (max-width: 991px) {
.container { max-width: 760px; }
}

.pd-common { padding-top: 50px; padding-bottom: 50px; padding-left: 0px; padding-right: 0px; }
@media screen and (max-width: 767px) {
.pd-common { padding-top: 30px; padding-bottom: 30px; padding-left: 0px; padding-right: 0px; }
}
.bg-common { background-repeat: no-repeat; background-position: center; background-size: cover; }

h1, .h1, h2, .h2, h3, .h3,h4, .h4, h5, .h5, h6, .h6{ margin-top: 0; margin-bottom: 0; font-weight: normal; line-height:1.7em; }

.op1 { opacity: 0.1; } .op2 { opacity: 0.2; } .op3 { opacity: 0.3; } .op4 { opacity: 0.4; } .op5 { opacity: 0.5; }
.op6 { opacity: 0.6; } .op7 { opacity: 0.7; } .op8 { opacity: 0.8; } .op9 { opacity: 0.9; } .op10 { opacity: 1; }

@media screen and (max-width: 991px) {
	.lh-sm-10 { line-height: 1.0em; } .lh-sm-11 { line-height: 1.1em; }
	.lh-sm-12 { line-height: 1.2em; } .lh-sm-13 { line-height: 1.3em; }
	.lh-sm-14 { line-height: 1.4em; } .lh-sm-15 { line-height: 1.5em; }
}

.ls01 { letter-spacing: 0.1em; }

/* ********************************************************************** */
/* *** LIST START ******************************************************* */
/* ********************************************************************** */
.ul-1 , .ul-2 , .ul-3 , .ul-4 , .ul-5 { letter-spacing: -0.4em; }
.ul-5 > li { width: 20%; display: inline-block; vertical-align: top; letter-spacing: normal; }
.ul-4 > li { width: 25%; display: inline-block; vertical-align: top; letter-spacing: normal; }
.ul-3 > li { width: 33.3333333333%; display: inline-block; vertical-align: top; letter-spacing: normal; }
.ul-2 > li { width: 50%; display: inline-block; vertical-align: top; letter-spacing: normal; }
.ul-1 > li { width: 100%; display: inline-block; vertical-align: top; letter-spacing: normal; }

@media screen and (max-width: 991px) {
	.ul-sm-5 > li { width: 20%!important; display: inline-block; vertical-align: top; }
	.ul-sm-4 > li { width: 25%!important; display: inline-block; vertical-align: top; }
	.ul-sm-3 > li { width: 33.3333333333%!important; display: inline-block; vertical-align: top; }
	.ul-sm-2 > li { width: 50%!important; display: inline-block; vertical-align: top; }
	.ul-sm-1 > li { width: 100%!important; display: inline-block; vertical-align: top; }
}
@media screen and (max-width: 767px) {
	.ul-xs-4 > li { width: 25%!important; display: inline-block; vertical-align: top; }
	.ul-xs-3 > li { width: 33.3333333333%!important; display: inline-block; vertical-align: top; }
	.ul-xs-2 > li { width: 50%!important; display: inline-block; vertical-align: top; }
	.ul-xs-1 > li { width: 100%!important; display: inline-block; vertical-align: top; }
}
/* *** LIST END ********************************************************* */

/* ********************************************************************** */
/* *** FONT START ******************************************************* */
/* ********************************************************************** */
.bold{ font-weight: bold; } .normal{ font-weight: normal!important; }
.lh_l { line-height: 2.0em; } .lh_m { line-height: 1.7em; } .lh_s { line-height: 1.4em; }

.fs01{ font-size: 0.1em; } .fs02{ font-size: 0.2em; } .fs03{ font-size: 0.3em; } .fs04{ font-size: 0.4em; } .fs05{ font-size: 0.5em; }
.fs06{ font-size: 0.6em; } .fs07{ font-size: 0.7em; } .fs08{ font-size: 0.8em; } .fs09{ font-size: 0.9em; } .fs10{ font-size: 1.0em; }
.fs11{ font-size: 1.1em; } .fs12{ font-size: 1.2em; } .fs13{ font-size: 1.3em; } .fs14{ font-size: 1.4em; } .fs15{ font-size: 1.5em; }
.fs16{ font-size: 1.6em; } .fs17{ font-size: 1.7em; } .fs18{ font-size: 1.8em; } .fs19{ font-size: 1.9em; } .fs20{ font-size: 2.0em; }
.fs21{ font-size: 2.1em; } .fs22{ font-size: 2.2em; } .fs23{ font-size: 2.3em; } .fs24{ font-size: 2.4em; } .fs25{ font-size: 2.5em; }
.fs26{ font-size: 2.6em; } .fs27{ font-size: 2.7em; } .fs28{ font-size: 2.8em; } .fs29{ font-size: 2.9em; } .fs30{ font-size: 3.0em; }
@media screen and (max-width: 1199px) {
.fs-md-01{ font-size: 0.1em; } .fs-md-02{ font-size: 0.2em; } .fs-md-03{ font-size: 0.3em; } .fs-md-04{ font-size: 0.4em; } .fs-md-05{ font-size: 0.5em; }
.fs-md-06{ font-size: 0.6em; } .fs-md-07{ font-size: 0.7em; } .fs-md-08{ font-size: 0.8em; } .fs-md-09{ font-size: 0.9em; } .fs-md-10{ font-size: 1.0em; }
.fs-md-11{ font-size: 1.1em; } .fs-md-12{ font-size: 1.2em; } .fs-md-13{ font-size: 1.3em; } .fs-md-14{ font-size: 1.4em; } .fs-md-15{ font-size: 1.5em; }
.fs-md-16{ font-size: 1.6em; } .fs-md-17{ font-size: 1.7em; } .fs-md-18{ font-size: 1.8em; } .fs-md-19{ font-size: 1.9em; } .fs-md-20{ font-size: 2.0em; }
.fs-md-21{ font-size: 2.1em; } .fs-md-22{ font-size: 2.2em; } .fs-md-23{ font-size: 2.3em; } .fs-md-24{ font-size: 2.4em; } .fs-md-25{ font-size: 2.5em; }
.fs-md-26{ font-size: 2.6em; } .fs-md-27{ font-size: 2.7em; } .fs-md-28{ font-size: 2.8em; } .fs-md-29{ font-size: 2.9em; } .fs-md-30{ font-size: 3.0em; }
}
@media screen and (max-width: 991px) {
.fs-sm-01{ font-size: 0.1em; } .fs-sm-02{ font-size: 0.2em; } .fs-sm-03{ font-size: 0.3em; } .fs-sm-04{ font-size: 0.4em; } .fs-sm-05{ font-size: 0.5em; }
.fs-sm-06{ font-size: 0.6em; } .fs-sm-07{ font-size: 0.7em; } .fs-sm-08{ font-size: 0.8em; } .fs-sm-09{ font-size: 0.9em; } .fs-sm-10{ font-size: 1.0em; }
.fs-sm-11{ font-size: 1.1em; } .fs-sm-12{ font-size: 1.2em; } .fs-sm-13{ font-size: 1.3em; } .fs-sm-14{ font-size: 1.4em; } .fs-sm-15{ font-size: 1.5em; }
.fs-sm-16{ font-size: 1.6em; } .fs-sm-17{ font-size: 1.7em; } .fs-sm-18{ font-size: 1.8em; } .fs-sm-19{ font-size: 1.9em; } .fs-sm-20{ font-size: 2.0em; }
.fs-sm-21{ font-size: 2.1em; } .fs-sm-22{ font-size: 2.2em; } .fs-sm-23{ font-size: 2.3em; } .fs-sm-24{ font-size: 2.4em; } .fs-sm-25{ font-size: 2.5em; }
.fs-sm-26{ font-size: 2.6em; } .fs-sm-27{ font-size: 2.7em; } .fs-sm-28{ font-size: 2.8em; } .fs-sm-29{ font-size: 2.9em; } .fs-sm-30{ font-size: 3.0em; }
}
@media screen and (max-width: 767px) {
.fs-xs-01{ font-size: 0.1em; } .fs-xs-02{ font-size: 0.2em; } .fs-xs-03{ font-size: 0.3em; } .fs-xs-04{ font-size: 0.4em; } .fs-xs-05{ font-size: 0.5em; }
.fs-xs-06{ font-size: 0.6em; } .fs-xs-07{ font-size: 0.7em; } .fs-xs-08{ font-size: 0.8em; } .fs-xs-09{ font-size: 0.9em; } .fs-xs-10{ font-size: 1.0em; }
.fs-xs-11{ font-size: 1.1em; } .fs-xs-12{ font-size: 1.2em; } .fs-xs-13{ font-size: 1.3em; } .fs-xs-14{ font-size: 1.4em; } .fs-xs-15{ font-size: 1.5em; }
.fs-xs-16{ font-size: 1.6em; } .fs-xs-17{ font-size: 1.7em; } .fs-xs-18{ font-size: 1.8em; } .fs-xs-19{ font-size: 1.9em; } .fs-xs-20{ font-size: 2.0em; }
.fs-xs-21{ font-size: 2.1em; } .fs-xs-22{ font-size: 2.2em; } .fs-xs-23{ font-size: 2.3em; } .fs-xs-24{ font-size: 2.4em; } .fs-xs-25{ font-size: 2.5em; }
.fs-xs-26{ font-size: 2.6em; } .fs-xs-27{ font-size: 2.7em; } .fs-xs-28{ font-size: 2.8em; } .fs-xs-29{ font-size: 2.9em; } .fs-xs-30{ font-size: 3.0em; }
}
/* *** FONT END ********************************************************* */

/* ********************************************************************** */
/* *** MARGIN START ***************************************************** */
/* ********************************************************************** */
/* margin-top */
.mt0{ margin-top: 0px!important; }
.mt10{ margin-top: 10px!important; } .mt20{ margin-top: 20px!important; } .mt30{ margin-top: 30px!important; } .mt40{ margin-top: 40px!important; } .mt50{ margin-top: 50px!important; }
.mt60{ margin-top: 60px!important; } .mt70{ margin-top: 70px!important; } .mt80{ margin-top: 80px!important; } .mt90{ margin-top: 90px!important; } .mt100{ margin-top: 100px!important; }
.mt110{ margin-top: 110px!important; } .mt120{ margin-top: 120px!important; } .mt130{ margin-top: 130px!important; } .mt140{ margin-top: 140px!important; } .mt150{ margin-top: 150px!important; }
.mt160{ margin-top: 160px!important; } .mt170{ margin-top: 170px!important; } .mt180{ margin-top: 180px!important; } .mt190{ margin-top: 190px!important; } .mt200{ margin-top: 200px!important; }
.mt-m10{ margin-top: -10px!important; } .mt-m20{ margin-top: -20px!important; } .mt-m30{ margin-top: -30px!important; } .mt-m40{ margin-top: -40px!important; } .mt-m50{ margin-top: -50px!important; }
.mt-m60{ margin-top: -60px!important; } .mt-m70{ margin-top: -70px!important; } .mt-m80{ margin-top: -80px!important; } .mt-m90{ margin-top: -90px!important; } .mt-m100{ margin-top: -100px!important; }
@media screen and (max-width: 1199px) {
.mt-md-0{ margin-top: 0px!important; }
.mt-md-10{ margin-top: 10px!important; } .mt-md-20{ margin-top: 20px!important; } .mt-md-30{ margin-top: 30px!important; } .mt-md-40{ margin-top: 40px!important; } .mt-md-50{ margin-top: 50px!important; }
.mt-md-60{ margin-top: 60px!important; } .mt-md-70{ margin-top: 70px!important; } .mt-md-80{ margin-top: 80px!important; } .mt-md-90{ margin-top: 90px!important; } .mt-md-100{ margin-top: 100px!important; }
.mt-md-110{ margin-top: 110px!important; } .mt-md-120{ margin-top: 120px!important; } .mt-md-130{ margin-top: 130px!important; } .mt-md-140{ margin-top: 140px!important; } .mt-md-150{ margin-top: 150px!important; }
.mt-md-160{ margin-top: 160px!important; } .mt-md-170{ margin-top: 170px!important; } .mt-md-180{ margin-top: 180px!important; } .mt-md-190{ margin-top: 190px!important; } .mt-md-200{ margin-top: 200px!important; }
}
@media screen and (max-width: 991px) {
.mt-sm-0{ margin-top: 0px!important; }
.mt-sm-10{ margin-top: 10px!important; } .mt-sm-20{ margin-top: 20px!important; } .mt-sm-30{ margin-top: 30px!important; } .mt-sm-40{ margin-top: 40px!important; } .mt-sm-50{ margin-top: 50px!important; }
.mt-sm-60{ margin-top: 60px!important; } .mt-sm-70{ margin-top: 70px!important; } .mt-sm-80{ margin-top: 80px!important; } .mt-sm-90{ margin-top: 90px!important; } .mt-sm-100{ margin-top: 100px!important; }
.mt-sm-110{ margin-top: 110px!important; } .mt-sm-120{ margin-top: 120px!important; } .mt-sm-130{ margin-top: 130px!important; } .mt-sm-140{ margin-top: 140px!important; } .mt-sm-150{ margin-top: 150px!important; }
.mt-sm-160{ margin-top: 160px!important; } .mt-sm-170{ margin-top: 170px!important; } .mt-sm-180{ margin-top: 180px!important; } .mt-sm-190{ margin-top: 190px!important; } .mt-sm-200{ margin-top: 200px!important; }
}
@media screen and (max-width: 767px) {
.mt-xs-0{ margin-top: 0px!important; }
.mt-xs-10{ margin-top: 10px!important; } .mt-xs-20{ margin-top: 20px!important; } .mt-xs-30{ margin-top: 30px!important; } .mt-xs-40{ margin-top: 40px!important; } .mt-xs-50{ margin-top: 50px!important; }
.mt-xs-60{ margin-top: 60px!important; } .mt-xs-70{ margin-top: 70px!important; } .mt-xs-80{ margin-top: 80px!important; } .mt-xs-90{ margin-top: 90px!important; } .mt-xs-100{ margin-top: 100px!important; }
.mt-xs-110{ margin-top: 110px!important; } .mt-xs-120{ margin-top: 120px!important; } .mt-xs-130{ margin-top: 130px!important; } .mt-xs-140{ margin-top: 140px!important; } .mt-xs-150{ margin-top: 150px!important; }
.mt-xs-160{ margin-top: 160px!important; } .mt-xs-170{ margin-top: 170px!important; } .mt-xs-180{ margin-top: 180px!important; } .mt-xs-190{ margin-top: 190px!important; } .mt-xs-200{ margin-top: 200px!important; }
}

/* margin-bottom */
.mb0{ margin-bottom: 0px!important; }
.mb10{ margin-bottom: 10px!important; } .mb20{ margin-bottom: 20px!important; } .mb30{ margin-bottom: 30px!important; } .mb40{ margin-bottom: 40px!important; } .mb50{ margin-bottom: 50px!important; }
.mb60{ margin-bottom: 60px!important; } .mb70{ margin-bottom: 70px!important; } .mb80{ margin-bottom: 80px!important; } .mb90{ margin-bottom: 90px!important; } .mb100{ margin-bottom: 100px!important; }
.mb110{ margin-bottom: 110px!important; } .mb120{ margin-bottom: 120px!important; } .mb130{ margin-bottom: 130px!important; } .mb140{ margin-bottom: 140px!important; } .mb150{ margin-bottom: 150px!important; }
.mb160{ margin-bottom: 160px!important; } .mb170{ margin-bottom: 170px!important; } .mb180{ margin-bottom: 180px!important; } .mb190{ margin-bottom: 190px!important; } .mb200{ margin-bottom: 200px!important; }
@media screen and (max-width: 1199px) {
.mb-md-0{ margin-bottom: 0px!important; }
.mb-md-10{ margin-bottom: 10px!important; } .mb-md-20{ margin-bottom: 20px!important; } .mb-md-30{ margin-bottom: 30px!important; } .mb-md-40{ margin-bottom: 40px!important; } .mb-md-50{ margin-bottom: 50px!important; }
.mb-md-60{ margin-bottom: 60px!important; } .mb-md-70{ margin-bottom: 70px!important; } .mb-md-80{ margin-bottom: 80px!important; } .mb-md-90{ margin-bottom: 90px!important; } .mb-md-100{ margin-bottom: 100px!important; }
.mb-md-110{ margin-bottom: 110px!important; } .mb-md-120{ margin-bottom: 120px!important; } .mb-md-130{ margin-bottom: 130px!important; } .mb-md-140{ margin-bottom: 140px!important; } .mb-md-150{ margin-bottom: 150px!important; }
.mb-md-160{ margin-bottom: 160px!important; } .mb-md-170{ margin-bottom: 170px!important; } .mb-md-180{ margin-bottom: 180px!important; } .mb-md-190{ margin-bottom: 190px!important; } .mb-md-200{ margin-bottom: 200px!important; }
}
@media screen and (max-width: 991px) {
.mb-sm-0{ margin-bottom: 0px!important; }
.mb-sm-10{ margin-bottom: 10px!important; } .mb-sm-20{ margin-bottom: 20px!important; } .mb-sm-30{ margin-bottom: 30px!important; } .mb-sm-40{ margin-bottom: 40px!important; } .mb-sm-50{ margin-bottom: 50px!important; }
.mb-sm-60{ margin-bottom: 60px!important; } .mb-sm-70{ margin-bottom: 70px!important; } .mb-sm-80{ margin-bottom: 80px!important; } .mb-sm-90{ margin-bottom: 90px!important; } .mb-sm-100{ margin-bottom: 100px!important; }
.mb-sm-110{ margin-bottom: 110px!important; } .mb-sm-120{ margin-bottom: 120px!important; } .mb-sm-130{ margin-bottom: 130px!important; } .mb-sm-140{ margin-bottom: 140px!important; } .mb-sm-150{ margin-bottom: 150px!important; }
.mb-sm-160{ margin-bottom: 160px!important; } .mb-sm-170{ margin-bottom: 170px!important; } .mb-sm-180{ margin-bottom: 180px!important; } .mb-sm-190{ margin-bottom: 190px!important; } .mb-sm-200{ margin-bottom: 200px!important; }
}
@media screen and (max-width: 767px) {
.mb-xs-0{ margin-bottom: 0px!important; }
.mb-xs-10{ margin-bottom: 10px!important; } .mb-xs-20{ margin-bottom: 20px!important; } .mb-xs-30{ margin-bottom: 30px!important; } .mb-xs-40{ margin-bottom: 40px!important; } .mb-xs-50{ margin-bottom: 50px!important; }
.mb-xs-60{ margin-bottom: 60px!important; } .mb-xs-70{ margin-bottom: 70px!important; } .mb-xs-80{ margin-bottom: 80px!important; } .mb-xs-90{ margin-bottom: 90px!important; } .mb-xs-100{ margin-bottom: 100px!important; }
.mb-xs-110{ margin-bottom: 110px!important; } .mb-xs-120{ margin-bottom: 120px!important; } .mb-xs-130{ margin-bottom: 130px!important; } .mb-xs-140{ margin-bottom: 140px!important; } .mb-xs-150{ margin-bottom: 150px!important; }
.mb-xs-160{ margin-bottom: 160px!important; } .mb-xs-170{ margin-bottom: 170px!important; } .mb-xs-180{ margin-bottom: 180px!important; } .mb-xs-190{ margin-bottom: 190px!important; } .mb-xs-200{ margin-bottom: 200px!important; }
}

/* margin-left */
.ml0 { margin-left: 0px!important; } .ml-auto { margin-left: auto!important; }
.ml10{ margin-left: 10px!important; } .ml20{ margin-left: 20px!important; } .ml30{ margin-left: 30px!important; } .ml40{ margin-left: 40px!important; } .ml50{ margin-left: 50px!important; }
.ml60{ margin-left: 60px!important; } .ml70{ margin-left: 70px!important; } .ml80{ margin-left: 80px!important; } .ml90{ margin-left: 90px!important; } .ml100{ margin-left: 100px!important; }
.ml110{ margin-left: 110px!important; } .ml120{ margin-left: 120px!important; } .ml130{ margin-left: 130px!important; } .ml140{ margin-left: 140px!important; } .ml150{ margin-left: 150px!important; }
.ml160{ margin-left: 160px!important; } .ml170{ margin-left: 170px!important; } .ml180{ margin-left: 180px!important; } .ml190{ margin-left: 190px!important; } .ml200{ margin-left: 200px!important; }
@media screen and (max-width: 1199px) {
.ml-md-0 { margin-left: 0px!important; } .ml-md-auto { margin-left: auto!important; }
.ml-md-10{ margin-left: 10px!important; } .ml-md-20{ margin-left: 20px!important; } .ml-md-30{ margin-left: 30px!important; } .ml-md-40{ margin-left: 40px!important; } .ml-md-50{ margin-left: 50px!important; }
.ml-md-60{ margin-left: 60px!important; } .ml-md-70{ margin-left: 70px!important; } .ml-md-80{ margin-left: 80px!important; } .ml-md-90{ margin-left: 90px!important; } .ml-md-100{ margin-left: 100px!important; }
.ml-md-110{ margin-left: 110px!important; } .ml-md-120{ margin-left: 120px!important; } .ml-md-130{ margin-left: 130px!important; } .ml-md-140{ margin-left: 140px!important; } .ml-md-150{ margin-left: 150px!important; } 
.ml-md-160{ margin-left: 160px!important; } .ml-md-170{ margin-left: 170px!important; } .ml-md-180{ margin-left: 180px!important; } .ml-md-190{ margin-left: 190px!important; } .ml-md-200{ margin-left: 200px!important; }
}
@media screen and (max-width: 991px) {
.ml-sm-0 { margin-left: 0px!important; } .ml-sm-auto { margin-left: auto!important; }
.ml-sm-10{ margin-left: 10px!important; } .ml-sm-20{ margin-left: 20px!important; } .ml-sm-30{ margin-left: 30px!important; } .ml-sm-40{ margin-left: 40px!important; } .ml-sm-50{ margin-left: 50px!important; }
.ml-sm-60{ margin-left: 60px!important; } .ml-sm-70{ margin-left: 70px!important; } .ml-sm-80{ margin-left: 80px!important; } .ml-sm-90{ margin-left: 90px!important; } .ml-sm-100{ margin-left: 100px!important; }
.ml-sm-110{ margin-left: 110px!important; } .ml-sm-120{ margin-left: 120px!important; } .ml-sm-130{ margin-left: 130px!important; } .ml-sm-140{ margin-left: 140px!important; } .ml-sm-150{ margin-left: 150px!important; }
.ml-sm-160{ margin-left: 160px!important; } .ml-sm-170{ margin-left: 170px!important; } .ml-sm-180{ margin-left: 180px!important; } .ml-sm-190{ margin-left: 190px!important; } .ml-sm-200{ margin-left: 200px!important; }
}
@media screen and (max-width: 767px) {
.ml-xs-0 { margin-left: 0px!important; } .ml-xs-auto{ margin-left: auto!important; }
.ml-xs-10{ margin-left: 10px!important; } .ml-xs-20{ margin-left: 20px!important; } .ml-xs-30{ margin-left: 30px!important; } .ml-xs-40{ margin-left: 40px!important; } .ml-xs-50{ margin-left: 50px!important; }
.ml-xs-60{ margin-left: 60px!important; } .ml-xs-70{ margin-left: 70px!important; } .ml-xs-80{ margin-left: 80px!important; } .ml-xs-90{ margin-left: 90px!important; } .ml-xs-100{ margin-left: 100px!important; }
.ml-xs-110{ margin-left: 110px!important; } .ml-xs-120{ margin-left: 120px!important; } .ml-xs-130{ margin-left: 130px!important; } .ml-xs-140{ margin-left: 140px!important; } .ml-xs-150{ margin-left: 150px!important; }
.ml-xs-160{ margin-left: 160px!important; } .ml-xs-170{ margin-left: 170px!important; } .ml-xs-180{ margin-left: 180px!important; } .ml-xs-190{ margin-left: 190px!important; } .ml-xs-200{ margin-left: 200px!important; }
}

/* margin-right */
.mr0{ margin-right: 0px!important; } .mr-auto { margin-right: auto!important; }
.mr10{ margin-right: 10px!important; } .mr20{ margin-right: 20px!important; } .mr30{ margin-right: 30px!important; } .mr40{ margin-right: 40px!important; } .mr50{ margin-right: 50px!important; }
.mr60{ margin-right: 60px!important; } .mr70{ margin-right: 70px!important; } .mr80{ margin-right: 80px!important; } .mr90{ margin-right: 90px!important; } .mr100{ margin-right: 100px!important; }
.mr110{ margin-right: 110px!important; } .mr120{ margin-right: 120px!important; } .mr130{ margin-right: 130px!important; } .mr140{ margin-right: 140px!important; } .mr150{ margin-right: 150px!important; }
.mr160{ margin-right: 160px!important; } .mr170{ margin-right: 170px!important; } .mr180{ margin-right: 180px!important; } .mr190{ margin-right: 190px!important; } .mr200{ margin-right: 200px!important; }
@media screen and (max-width: 1199px) {
.mr-md-0{ margin-right: 0px!important; } .mr-md-auto { margin-right: auto!important; }
.mr-md-10{ margin-right: 10px!important; } .mr-md-20{ margin-right: 20px!important; } .mr-md-30{ margin-right: 30px!important; } .mr-md-40{ margin-right: 40px!important; } .mr-md-50{ margin-right: 50px!important; }
.mr-md-60{ margin-right: 60px!important; } .mr-md-70{ margin-right: 70px!important; } .mr-md-80{ margin-right: 80px!important; } .mr-md-90{ margin-right: 90px!important; } .mr-md-100{ margin-right: 100px!important; }
.mr-md-110{ margin-right: 110px!important; } .mr-md-120{ margin-right: 120px!important; } .mr-md-130{ margin-right: 130px!important; } .mr-md-140{ margin-right: 140px!important; } .mr-md-150{ margin-right: 150px!important; }
.mr-md-160{ margin-right: 160px!important; } .mr-md-170{ margin-right: 170px!important; } .mr-md-180{ margin-right: 180px!important; } .mr-md-190{ margin-right: 190px!important; } .mr-md-200{ margin-right: 200px!important; }
}
@media screen and (max-width: 991px) {
.mr-sm-0{ margin-right: 0px!important; } .mr-sm-auto { margin-right: auto!important; }
.mr-sm-10{ margin-right: 10px!important; } .mr-sm-20{ margin-right: 20px!important; } .mr-sm-30{ margin-right: 30px!important; } .mr-sm-40{ margin-right: 40px!important; } .mr-sm-50{ margin-right: 50px!important; }
.mr-sm-60{ margin-right: 60px!important; } .mr-sm-70{ margin-right: 70px!important; } .mr-sm-80{ margin-right: 80px!important; } .mr-sm-90{ margin-right: 90px!important; } .mr-sm-100{ margin-right: 100px!important; }
.mr-sm-110{ margin-right: 110px!important; } .mr-sm-120{ margin-right: 120px!important; } .mr-sm-130{ margin-right: 130px!important; } .mr-sm-140{ margin-right: 140px!important; } .mr-sm-150{ margin-right: 150px!important; }
.mr-sm-160{ margin-right: 160px!important; } .mr-sm-170{ margin-right: 170px!important; } .mr-sm-180{ margin-right: 180px!important; } .mr-sm-190{ margin-right: 190px!important; } .mr-sm-200{ margin-right: 200px!important; }
}
@media screen and (max-width: 767px) {
.mr-xs-0{ margin-right: 0px!important; } .mr-xs-auto{ margin-right: auto!important; }
.mr-xs-10{ margin-right: 10px!important; } .mr-xs-20{ margin-right: 20px!important; } .mr-xs-30{ margin-right: 30px!important; } .mr-xs-40{ margin-right: 40px!important; } .mr-xs-50{ margin-right: 50px!important; }
.mr-xs-60{ margin-right: 60px!important; } .mr-xs-70{ margin-right: 70px!important; } .mr-xs-80{ margin-right: 80px!important; } .mr-xs-90{ margin-right: 90px!important; } .mr-xs-100{ margin-right: 100px!important; }
.mr-xs-110{ margin-right: 110px!important; } .mr-xs-120{ margin-right: 120px!important; } .mr-xs-130{ margin-right: 130px!important; } .mr-xs-140{ margin-right: 140px!important; } .mr-xs-150{ margin-right: 150px!important; }
.mr-xs-160{ margin-right: 160px!important; } .mr-xs-170{ margin-right: 170px!important; } .mr-xs-180{ margin-right: 180px!important; } .mr-xs-190{ margin-right: 190px!important; } .mr-xs-200{ margin-right: 200px!important; }
}
/* *** MARGIN END ******************************************************* */

.pt0{ padding-top: 0px!important; }
.pb0{ padding-bottom: 0px!important; }



body {
	color: #000;
	font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
}

.futura {
	font-family: "FuturaLTPro-Medium";
}
.ygothic {
	font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
}

.pt_eng_title {
	display: inline-block;
}
.pt_eng_title:before , .pt_eng_title:after {
	content: "";
	display: inline-block;
	position: absolute;
	background-image: url('../img/title_icon.png');
	background-size: contain;
	background-repeat: no-repeat;
	width: 196px;
	height: 36px;
	top: 5%;
}
.pt_eng_title:before {
	left: -250px;
}
.pt_eng_title:after {
	right: -250px;
	transform: rotateY(-180deg);
}
@media screen and (max-width: 767px) {
	.pt_eng_title:before, .pt_eng_title:after {
		width: 80px;
		height: 16px;
		top: 25%;
	}
	.pt_eng_title:before {
		left: -100px;
	}
	.pt_eng_title:after {
		right: -100px;
	}
}

.pt_bg_border {
	background-image: url('../img/bg_border.jpg');
	background-size: 24px auto;
	background-repeat: repeat;
}
.pt_bg_dot {
	background-image: url('../img/bg_dot.jpg');
	background-size: 61px auto;
	background-repeat: repeat;
}
@media screen and (max-width: 767px) {
	.pt_bg_dot {
		background-size: 38px auto;
	}
}

.pt_btn {
	display: inline-block;
	color: #fff;
	border-radius: 50px;
	width: 100%;
	max-width: 200px;
	padding: 10px;
	transition: all 0.3s;
}
.pt_btn:hover {
	background-color: #fff;
	color: #1ba0e5;
	opacity: 1;
}
.pt_bg_white {
	background-color: rgba(255,255,255,0.8);
}
.pt_marker {
	background: -webkit-linear-gradient(transparent 60%, #fcd444 0%);
	background: -o-linear-gradient(transparent 60%, #fcd444 0%);
	background: linear-gradient(transparent 60%, #fcd444 0%);
	padding-left: 10px;
	padding-right: 10px;
}
@media all and (-ms-high-contrast: none){
	.pt_marker {
		line-height: 1em;
	}
}
.pt_marker_s {
	background: -webkit-linear-gradient(transparent 30%, #fcd444 0%);
	background: -o-linear-gradient(transparent 30%, #fcd444 0%);
	background: linear-gradient(transparent 30%, #fcd444 0%);
}
.pt_circle {
	border-radius: 50%;
	padding-bottom: 100%;
}

.pt_br {
	border-radius: 20px;
}
.pt_br_s {
	border-radius: 10px;
}
.semibold {
	font-weight: 500;
}


.top_concept_img_outer {
	max-width: 160px;
	margin-left: auto;
	margin-right: auto;
}

.top_concept_ul {
	margin-left: -10px;
	margin-right: -10px;
}
.top_concept_ul > li {
	padding: 10px;
}
.top_concept_ul_inner {
	padding: 20px;
}
@media screen and (max-width: 991px) {
	.top_concept_ul_inner {
		padding: 10px;
	}
}
@media screen and (min-width: 768px) and (max-width: 991px) {
	.service_feature_ul .h1 {
		font-size: 24px;
	}
}
@media screen and (max-width: 767px) {
	.top_concept_ul_inner {
		padding: 10px 20px;
	}
}


.top_service_ul {
	margin-left: -2px;
	margin-right: -2px;
}
.top_service_ul > li {
	padding: 2px;
}
.top_service_ul > li a {
	display: block;
	opacity: 1;
}
.top_service_img {
	padding-bottom: 130%;
}
.top_service_title {
	position: absolute;
	left: 10px;
	right: 10px;
	bottom: 20px;
	padding: 5px 10px;
	transition: all 0.3s;
}
.top_service_ul.ul-3 > li .top_service_img {
	padding-bottom: 70%;
}

.top_service_ul > li a:hover .top_service_title {
	background-color: #1ba0e5;
	color: #fff;
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
	.top_service_ul .top_service_title {
		font-size: 20px;
	}
}
@media screen and (min-width: 768px) and (max-width: 991px) {
	.top_service_ul .top_service_title {
		font-size: 18px;
	}
	.top_service_title {
		padding: 5px 4px;
	}
}
@media screen and (max-width: 767px) {
	.top_service_ul > li .top_service_img {
		padding-bottom: 70%;
	}
}


.top_worls_ul {
	margin-left: -15px;
	margin-right: -15px;
}
.top_works_ul > li {
	padding: 15px;
}
.top_works_ul > li a {
	display: block;
	transition: all 0.3s;
}
.top_works_ul > li a:hover {
	opacity: 1;
}
.top_works_ul > li a:hover .top_works_area {
	background-color: #ecf7fb;
}
.top_works_area {
	padding: 20px 20px 10px;
	transition: all 0.3s;
}
.top_works_img {
	padding-bottom: 66%;
}
.top_works_tag {
	padding: 6px 15px;
	display: inline-block;
	border-radius: 10px;
}
@media screen and (max-width: 767px) {
	.top_works_ul {
		margin-left: -10px;
		margin-right: -10px;
	}
	.top_works_ul > li {
		padding: 10px;
	}
}

.top_staff_ul > li:nth-child(2) .top_staff_img_outer {
	margin-top: 50px;
	position: relative;
	z-index: 2;
	width: 110%;
	margin-left: -8%;
}
.top_staff_ul > li:last-child .top_staff_img_outer {
	margin-top: 20px;
}
.top_staff_img {
	padding-bottom: 66%;
}
@media screen and (max-width: 767px) {
	.top_staff_ul > li {
		margin-bottom: 5px;
	}
	.top_staff_ul > li:nth-child(2) .top_staff_img_outer {
		margin-top: 0px;
		width: 100%;
		margin-left: 0px;
	}
	.top_staff_ul > li:last-child .top_staff_img_outer {
		margin-top: 0px;
	}
}


.top_flow_area {
	padding: 20px;
}
.top_flow_ul {
	letter-spacing: -0.04em;
}
.top_flow_ul > li {
	letter-spacing: normal;
	display: inline-block;
	vertical-align: top;
	padding: 15px;
	width: 20%;
}
.top_flow_ul > li:last-child {
	width: 80%;
}
.top_flow_num {
	display: inline-block;
	left: 0;
	top: 0;
	line-height: 1em;
	font-weight: 500;
}
@media screen and (max-width: 767px) {
	.top_flow_num {
		display: inline-block;
		left: 0;
		right: 0;
		top: -40px;
		text-align: center;
	}
	.top_flow_ul > li {
		width: 100%!important;
	}
	.top_flow_ul > li:first-child {
		max-width: 220px;
		margin: 0 auto;
		display: block;
		padding-bottom: 0px;
	}
	.top_flow_area {
		padding: 50px 5px 0px;
	}
}

/* Q&A */
.top_qa_ul {
	margin-left: -10px;
	margin-right: -10px;
}
.top_qa_ul > li {
	padding: 0px 10px 0px;
}
.top_qa_txt {
	font-size: 1.125em;
	text-indent: -120px;
	padding: 10px 10px 10px 130px;
	margin-bottom: 20px;
	color: #2b2b2b;
}
.top_qa_txt_q {
	transition: all 0.3s;
}
.top_qa_txt_q:hover {
	background-color: #cfe8ea;
	border-radius: 5px;
	cursor: pointer;
}
.top_qa_txt:before {
	content: "";
	display: inline-block;
	width: 100px;
	height: 1px;
	background-color: #ebc492;
	vertical-align: middle;
	margin-right: 20px;
}
.top_qa_txt_a {
	text-indent: 0;
	display: none;
	font-weight: normal;
	margin-top: -10px;
}
.top_qa_txt_a:before {
	display: none;
}

@media screen and (max-width: 1199px) {
	.top_qa_txt {
		text-indent: -65px;
		padding-left: 75px;
	}
	.top_qa_txt:before {
		content: "";
		display: inline-block;
		width: 50px;
		height: 1px;
		background-color: #ebc492;
		vertical-align: middle;
		margin-right: 15px;
	}
}

@media screen and (max-width: 767px) {
	.top_qa_txt {
		text-indent: -30px;
		padding-left: 40px;
		font-size: 1em;
	}
	.top_qa_txt:before {
		content: "";
		display: inline-block;
		width: 20px;
		height: 1px;
		background-color: #ebc492;
		vertical-align: middle;
		margin-right: 10px;
	}
}

/* NEWS */
.top_news_area {
	background-color: #fff;
}
.top_news_date {
	display: inline-block;
	margin-right: 20px;
}
.top_news_cat {
	display: inline-block;
}
.top_news_ul > li a:hover .top_news_title {
	text-decoration: underline;
}
.top_news_ul > li {
	padding: 30px;
	border-bottom: 1px solid #e3e3e3;
}
.top_news_ul > li:last-child {
	border-bottom: none;
}
.top_news_ul > li a {
	display: block;
}

@media screen and (max-width: 767px) {
	.top_news_ul > li {
		padding: 15px;
	}
}

/* フッター */
.f_link {
	margin-left: -2px;
	margin-right: -2px;
}
.f_link a {
	opacity: 1;
}
.f_link_img {
	padding-bottom: 80%;
	transition: all 0.3s;
}
.f_link_img_outer {
	position: relative;
	overflow: hidden;
}
.f_link_filter {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #3a3c49;
	opacity: 0.3;
	z-index: 2;
	transition: all 0.3s;
}
.f_link a:hover .f_link_img {
	-moz-transform: scale(1.08);
	-webkit-transform: scale(1.08);
	-ms-transform: scale(1.08);
	transform: scale(1.08);
}
.f_link a:hover .f_link_filter {
	opacity: 0.3;
	background-color: #fff;
}

.f_link_title {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 3;
	color: #fff;
	left: 15px;
	right: 15px;
	margin: 0 auto;
	text-align: center;
	transition: all 0.3s;
	padding: 20px 5px;
}
.f_link_title .engTitle {
	margin-bottom: -5px;
}

.f_link a:hover .f_link_title {
	color: #3a3c49;
}
.f_link > li {
	padding: 2px 2px 4px;
}

.f_contact {
	padding-top: 100px;
	padding-bottom: 100px;
}
.f_tel {
	font-family: "FuturaLTPro-Medium";
	color: #fff;
	font-size: 2.6em;
	margin-bottom: 10px;
	line-height: 1em;
}
.f_tel_txt {
	color: #fff;
	margin-bottom: 0px;
}

.f_contact_area {
	width: 100%;
	max-width: 860px;
	padding: 50px 20px;
	margin-left: auto;
	margin-right: auto;
}
.f_contact_area .pt_btn {
	color: #333;
}
.f_contact_area .pt_btn:hover {
	color: #fcd444;
}

@media screen and (max-width: 767px) {
	.f_link_title_eng {
		font-size: 0.875em;
	}
	.f_link_title_jp {
		font-size: 1.2em;
		margin-bottom: 0px;
		line-height: 1em;
	}
	.f_contact {
		padding-top: 60px;
	}
}





.under_fv_txtarea {
	display: inline-block;
	width: 100%;
	max-width: 500px;
	padding: 30px;
}


/* 高塚について */
.about_message_img {
	padding-bottom: 67%;
}
.about_message_area {
	padding: 10px;
}
.about_message_ul > li {
	padding: 20px;
}

.service_feature_ul > li {
	padding: 50px 30px;
	min-height: 500px;
	overflow: hidden;
}
.service_feature_num {
    color: #98d1e5;
    font-size: 20vw;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 14vw;
    text-align: center;
}
.service_feature_txt {
	z-index: 2;
}
@media screen and (min-width: 768px) {
	.service_feature_ul_even > li:first-child {
		order: 2;
	}
	.service_feature_ul_even > li:first-child {
		order: 1;
	}
}
@media screen and (max-width: 991px) {
	.service_feature_ul > li {
		padding: 20px 15px;
	}
}
@media screen and (max-width: 767px) {
	.service_feature_ul {
		flex-direction: column;
	}
	.service_feature_ul > li {
		padding: 20px 15px;
		min-height: auto;
	}
	.service_feature_ul > li:last-child {
		padding-top: 0px;
		padding-bottom: 67%;
	}
	.about_message_ul > li {
		padding: 5px;
	}
}

.service_warning_area {
	padding: 40px 30px 30px;
}
.pt_check_title {
	padding-left: 33px;
	text-indent: -33px;
}
.pt_check_title:before {
	content: "";
	display: inline-block;
	background-image: url('../img/check_icon.png');
	background-repeat: no-repeat;
	background-size: contain;
	width: 24px;
	height: 24px;
	margin-right: 10px;
	vertical-align: middle;
}
.service_check_list {
    max-width: 520px;
    margin: 0 auto;
}

.service_example_checkarea {
	padding: 10px 30px;
}
.service_example_check:before {
	content: "";
	display: inline-block;
	background-image: url('../img/check_icon02.png');
	background-repeat: no-repeat;
	background-size: contain;
	width: 14px;
	height: 10px;
	margin-right: 10px;
	vertical-align: middle;
}
@media screen and (max-width: 767px) {
	.service_warning_area {
		padding: 20px 15px 10px;
	}
}


/* スタッフ */
.staff_area {
	padding: 15px;
}
.staff_img {
	padding-bottom: 67%;
}
.staff_ul_top > li {
	padding: 15px;
}
.staff_ul_top > li:first-child {
	padding-right: 50px;
}
.staff_ul_bottom > li {
	padding: 15px;
}
.staff_ul_bottom > li:first-child {
	border-right: 1px solid #d8d8d8;
}

.staff_ul_table {
	width: 100%;
}
.staff_ul_table th , .staff_ul_table td {
	vertical-align: top;
	padding-bottom: 10px;
}
.staff_ul_table th {
	width: 50%;
	padding-right: 10px;
}
.staff_ul_table td {
	width: 50%;
	padding-right: 20px;
}
.staff_ul_img {
	padding-bottom: 67%;
}

@media screen and (max-width: 991px) {
	.staff_ul_table th , .staff_ul_table td {
		display: block;
		width: 100%;
	}
	.staff_ul_top > li:first-child {
		padding-right: 20px;
	}
}
@media screen and (max-width: 767px) {
	.staff_ul_top > li , .staff_ul_bottom > li {
		padding: 5px;
	}
	.staff_ul_top > li:first-child {
		padding-right: 0px;
	}
	.staff_ul_table th, .staff_ul_table td {
		padding-right: 0px;
	}
	.staff_ul_bottom > li:first-child {
		border-right: none;
	}
}


/* 施工事例 一覧 */
.list_link {
	text-align: center;
}
.list_link > li {
	display: inline-block;
	padding: 10px 20px;
}
.list_link > li a {
	display: inline-block;
	padding: 6px 15px;
	border-radius: 10px;
}
.list_link > li a:hover {
	display: inline-block;
	color: #d23246;
}

@media screen and (max-width: 991px) {
	.list_link > li {
		padding: 10px 15px;
	}
}

@media screen and (max-width: 767px) {
	.list_link > li {
		padding: 10px 10px;
	}
	.list_link {
		text-align: left;
		margin-bottom: 30px;
	}
}


/* 施工事例 詳細 */
.detail_add {
	display: inline-block;
	color: #79726e;
	margin-right: 20px;
}
.detail_tag {
	display: inline-block;
	color: #79726e;
}
.detail_main_imgarea {
	width: 100%;
	max-width: 720px;
	margin: 0 auto 50px;
}
.detail_subtitle {
	color: #3a3c49;
	font-weight: bold;
	font-size: 1.5em;
	margin-bottom: 20px;
	font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
}
.detail_txtarea {
	max-width: 1000px;
}
.detail_table {
	width: 100%;
}
.detail_table th , .detail_table td {
	padding: 20px 10px;
	border-bottom: 1px solid #9cd2e5;
	width: 33%;
	font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
}
.detail_table tr:first-child th , .detail_table tr:first-child td {
	border-top: 1px solid #9cd2e5;
}
.detail_table td {
	width: 77%;
}
.detail_table_outer {
	padding: 30px 30px 50px;
}
.detail_before_title {
	border-bottom: 1px solid #cccccc;
	padding-bottom: 10px;
}
.detail_before_ul {
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: 40px;
}
.detail_before_ul > li {
	padding: 10px;
}
.detail_before_ul_img_outer {
	overflow: hidden;
}
.detail_before_ul_img {
	transition: all 0.3s;
	padding-bottom: 80%;
}
.detail_before_ul > li a:hover .detail_before_ul_img {
	-moz-transform: scale(1.08);
	-webkit-transform: scale(1.08);
	-ms-transform: scale(1.08);
	transform: scale(1.08);
}
.detail_before_ul_title {
	padding: 4px 10px;
	margin-bottom: 0px;
	transition: all 0.3s;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.detail_before_ul > li a:hover .detail_before_ul_title {
	background-color: #1ba0e5;
	color: #fff;
}

@media screen and (max-width: 991px) {
	.detail_title {
		font-size: 1.6em;
	}
	.detail_subtitle {
		font-size: 1.3em;
	}
	.detail_table_outer {
		padding: 20px 20px 40px;
	}
	.detail_table th, .detail_table td {
		padding: 15px 10px;
		width: 35%;
	}
}
@media screen and (max-width: 767px) {
	.detail_title {
		font-size: 1.4em;
		text-align: left;
	}
	.detail_subtitle {
		font-size: 1.2em;
	}
	.detail_main_imgarea {
		margin: 0 auto 30px;
	}
	.detail_table th, .detail_table td {
		padding: 0px 10px 10px;
		width: 100%;
		display: block;
	}
	.detail_table th {
		padding: 0px 10px;
		border-bottom: none;
	}
	.detail_table td {
		margin-bottom: 10px;
	}
	.detail_table tr:first-child th {
		padding-top: 10px;
	}
	.detail_table tr:first-child td {
		border-top: none;
	}
	.detail_table_title {
		margin-bottom: 20px;
	}
	.detail_table_outer {
		padding: 20px 20px 20px;
	}
	.detail_before_ul {
		margin-left: -5px;
		margin-right: -5px;
		margin-bottom: 30px;
	}
	.detail_before_ul > li {
		padding: 5px;
	}
	.detail_before_title {
		padding-bottom: 0px;
		margin-bottom: 10px;
	}
}

/* ヘッダー */
.headerTop {
	background-color: #fff;
	border-radius: 50px;
	padding: 12px 20px;
	margin-top: 30px;
}
#menu-mainmenu > li:last-child a {
	background-color: #fcd444;
	border: 1px solid #fcd444;
	border-radius: 50px;
	font-weight: bold;
	transition: all 0.3s;
}
#menu-mainmenu > li:last-child a:hover {
	background-color: #fff;
	color: #fcd444;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.headerTop {
		padding: 12px 10px;
	}
}
@media screen and (max-width: 767px) {
	.headerTop {
		background-color: rgba(255,255,255,0);
		margin-top: 20px;
		padding: 5px 0px;
	}
}

/* フッター */
.f_info {
	padding: 30px 10px 40px;
}
.f_logo {
	width: 100%;
	max-width: 90px;
}
@media screen and (max-width: 767px) {
	.f_logo {
		max-width: 75px;
	}
}